.headTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.eachElement {
    margin-bottom: 20px;
    width: 100%;
}

label {
    margin-right: 15px;
}

.report {
    margin-top: 20px;
}